@{
    ViewBag.Title = "Home Page";
}


    <div class="wrapper-home">
        <h1 class="display-4 text-color">CampusFire - kampusy i wycieczki krajoznawcze</h1>
        <div class="buttons">
            <a class="btn btn-light btn-lg text-color" href="/Account/Login" role="button" >Zaloguj</a>
            <a class="btn btn-light btn-lg text-color" href="/Account/Register" role="button">Zarejestruj</a>
        </div>
    </div>
